In [26]:
#q1 yes tuples are immutable unlike list
t1=(1,2,3,3,5,6,7,8,3)
t1[0]=45

TypeError: 'tuple' object does not support item assignment

In [6]:
#q2 2 tuple methods in python
t1=(1,2,3,3,5,6,7,8,3)
t1.count(3)
#count function returns no of times the element present in tuple

3

In [7]:
t1.index(5) # index function returns the index of value given in argument

4

In [8]:
# tuples have limited number of functions unlike list because tuples are immutable

In [9]:
#q3 sets do not allow dupliction of values
list=[1,1,1,2,1,3,1,4,2,1,2,2,2,3,2,4,3,1,3,2,3,3,3,4,4,1,4]
set(list)

{1, 2, 3, 4}

In [20]:
#q4 
set1={5,6,7,8,1,2,3,4}
set2={5,6,7,8,9,10,11}

set.union(set1,set2) # union function unites values of 2 sets

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [21]:
set1.update(set2) # update functgion is used to extract unique data from another set

In [22]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [4]:
dict={'name':'nikhil','age':'32','place':'mumbai'} # dictionary is a combination of keys and values

In [18]:
dict #dict is an ordered

{'name': 'nikhil', 'age': '32', 'place': 'mumbai'}

In [9]:
dict['name']=('abc') # dictionaries are ordered and keys are used for indexing and updating

In [8]:
dict

{'name': 'abc', 'age': '32', 'place': 'mumbai'}

In [10]:
#q6 yes it is possible to create nested dictionary
dict={'name':{'firstname':'nikhil','lastname':'bhanushali'}}

In [11]:
dict

{'name': {'firstname': 'nikhil', 'lastname': 'bhanushali'}}

In [14]:
#q7 
dict.setdefault('topics',['python','ML','DL'])

['python', 'ML', 'DL']

In [13]:
dict

{'name': {'firstname': 'nikhil', 'lastname': 'bhanushali'},
 'topics': ['python', 'ML', 'DL']}

In [16]:
#q8 the three view objects in dictionaries are keys,values and items
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [17]:
dict1

{'Sport': 'Cricket',
 'Teams': ['India',
  'Australia',
  'England',
  'South Africa',
  'Sri Lanka',
  'New Zealand']}

In [18]:
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [19]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [21]:
list(dict1.items())

[('Sport', 'Cricket'),
 ('Teams',
  ['India',
   'Australia',
   'England',
   'South Africa',
   'Sri Lanka',
   'New Zealand'])]