In [ ]:
'''Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?
mongodb is NoSQL databases (aka "not only SQL")which are non-tabular databases and store data differently than relational tables. NoSQL databases come in a variety of types based on their data model. The main types are document, key-value, wide-column, and graph. They provide flexible schemas and scale easily with large amounts of data and high user loads.
it is preferred to use mongodb when data is in unstructured format and dynamic without any fixed structure.'''

In [ ]:
'''Q2. State and Explain the features of MongoDB.
MongoDB is a document-oriented NoSQL database platform which provides numerous important features. Among them are:
Document Model:
It is a document-oriented database, which means that data is stored as documents, and documents are grouped in collections.This means that developers can focus on the data they need to store and process, rather than worrying about how to split the data across different rigid tables.
Documents in MongoDB are stored in the BSON format, which is a binary-encoded JSON format.
This also allows for the storage of binary data, which is useful for storing images, videos, and other binary data.
Sharding:
Sharding is the process of splitting larger datasets across multiple distributed instances, or “shards.” 
When applied to particularly large datasets, sharding helps the database distribute and better execute what might otherwise be problematic and cumbersome queries. Without sharding, scaling a growing web application with millions of daily users is nearly impossible.
Replication:
When your data only resides in a single server, it is exposed to multiple potential points of failure, such as a server crash, service interruptions, or even good old hardware failure. Any of these events would make accessing your data nearly impossible.
Replication allows you to sidestep these vulnerabilities by deploying multiple servers for disaster recovery and backup. Horizontal scaling across multiple servers greatly increases data availability, reliability, and fault tolerance. 
Time Series Data:
Time series data is most commonly generated by a device, such as a sensor, that records data over time. The data is stored in a collection of documents, each of which contains a timestamp and a value. MongoDB provides a number of features to help you manage time series data.
Ad-Hoc Queries:
When designing the schema of a database, it is impossible to know in advance all the queries that will be performed by end users. An ad-hoc query is a short-lived command whose value depends on a variable. Each time an ad-hoc query is executed, the result may be different, depending on the variables in question.
Indexing:
Without the right indexes, a database is forced to scan documents one by one to identify the ones that match the query statement. But if an appropriate index exists for each query, user requests can be optimally executed by the server. MongoDB offers a broad range of indexes and features with language-specific sort orders that support complex access patterns to datasets.'''

In [13]:
'''Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.
Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.'''

'Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.\nQ4. Using the database and the collection created in question number 3, write a code to insert one record,\nand insert many records. Use the find() and find_one() methods to print the inserted record.'

In [8]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 13.0 MB/s eta 0:00:0000:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 36.1 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://nikhil754:nikhil754@cluster0.khkfw14.mongodb.net/?retryWrites=true&w=majority")
db = client.test 
db=client['pwskills']
collection_create=db['my_record']
data={'name':'nikhil','class':'data science','timings':'flexible'}
collection_create.insert_one(data)
data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [10]:
collection_create.insert_many(data3)

In [11]:
for i in collection_create.find():
    print(i)

{'_id': ObjectId('64244f9323175a4f91384a9a'), 'name': 'nikhil', 'class': 'data science', 'timings': 'flexible'}
{'_id': ObjectId('64244fa023175a4f91384a9b'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64244fa023175a4f91384a9c'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64244fa023175a4f91384a9d'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64244fa023175a4f91384a9e'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64244fa023175a4f91384a9f'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64244fa023175a4f91384aa0'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64244fa023175a4f91384aa1'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64244fa023175a4f91384aa2'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64244fa023175a4f91384aa3'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64244fa023175a4f91384aa4'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64244fa023175a4f91384aa5'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64244fa023175a4f91384aa6'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [15]:
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

In [16]:
collection_create.insert_many(random_data)

In [12]:
collection_create.find_one()

{'_id': ObjectId('64244f9323175a4f91384a9a'),
 'name': 'nikhil',
 'class': 'data science',
 'timings': 'flexible'}

In [17]:
#Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
#demonstrate this.
for i in collection_create.find({'companyName':'iNeuron'}):
    print(i)

{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [30]:
for i in collection_create.find():
    print(i)

{'_id': ObjectId('64244f9323175a4f91384a9a'), 'name': 'nikhil', 'class': 'data science', 'timings': 'flexible'}
{'_id': ObjectId('64244fa023175a4f91384a9b'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64244fa023175a4f91384a9c'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64244fa023175a4f91384a9d'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64244fa023175a4f91384a9e'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64244fa023175a4f91384a9f'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64244fa023175a4f91384aa0'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64244fa023175a4f91384aa1'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64244fa023175a4f91384aa2'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64244fa023175a4f91384aa3'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64244fa023175a4f91384aa4'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64244fa023175a4f91384aa5'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64244fa023175a4f91384aa6'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [56]:
#Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.
for i in collection_create.find().sort('_id',1):
    print(i)

{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}
{'_id': ObjectId('64244f9323175a4f91384a9a'), 'name': 'nikhil', 'class': 'data science', 'timings': 'flexible'}
{'_id': ObjectId('64244fa023175a4f91384a9b'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64244fa023175a4f91384a9c'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64244fa023175a4f91384a9d'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64244fa023175a4f91384a9e'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64244fa023175a4f91384a9f'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64244fa023175a4f91384aa0'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64244fa023175a4f91384aa1'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64244fa023175a4f91384aa2'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64244fa023175a4f91384aa3'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64244fa023175a4f91384aa4'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64244fa023175a4f91384aa5'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64244fa023175a4f91384aa6'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [60]:
#Q7. Explain why delete_one(), delete_many(), and drop() is used.
collection_create.delete_one({'companyName':'iNeuron'})

In [61]:
for i in collection_create.find():
    print(i)

{'_id': ObjectId('64244f9323175a4f91384a9a'), 'name': 'nikhil', 'class': 'data science', 'timings': 'flexible'}
{'_id': ObjectId('64244fa023175a4f91384a9b'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64244fa023175a4f91384a9c'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64244fa023175a4f91384a9d'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64244fa023175a4f91384a9e'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64244fa023175a4f91384a9f'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64244fa023175a4f91384aa0'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64244fa023175a4f91384aa1'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64244fa023175a4f91384aa2'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64244fa023175a4f91384aa3'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64244fa023175a4f91384aa4'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64244fa023175a4f91384aa5'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64244fa023175a4f91384aa6'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [62]:
collection_create.delete_many({'companyName':'iNeuron'})

In [63]:
for i in collection_create.find():
    print(i)

{'_id': ObjectId('64244f9323175a4f91384a9a'), 'name': 'nikhil', 'class': 'data science', 'timings': 'flexible'}
{'_id': ObjectId('64244fa023175a4f91384a9b'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64244fa023175a4f91384a9c'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64244fa023175a4f91384a9d'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64244fa023175a4f91384a9e'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64244fa023175a4f91384a9f'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64244fa023175a4f91384aa0'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64244fa023175a4f91384aa1'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64244fa023175a4f91384aa2'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64244fa023175a4f91384aa3'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64244fa023175a4f91384aa4'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64244fa023175a4f91384aa5'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64244fa023175a4f91384aa6'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [64]:
collection_create.drop()

In [65]:
for i in collection_create.find():
    print(i)