In [2]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.
import pandas as pd
list=['4','8','15','16','23','42','a','b','c','d']
p=pd.Series(list)
print(p)

0     4
1     8
2    15
3    16
4    23
5    42
6     a
7     b
8     c
9     d
dtype: object

In [12]:
type(p)

pandas.core.series.Series

In [16]:
data = {'Mon': 22, 'Tues': 23, 'Wed': 23, 'Thurs': 24, 'Fri': 23, 'Sat': 22, 'Sun': 21}
series = pd.Series(data)
print(series)

Mon      22
Tues     23
Wed      23
Thurs    24
Fri      23
Sat      22
Sun      21
dtype: int64

In [17]:
type(series)

pandas.core.series.Series

In [13]:
#Q3. Create a Pandas DataFrame that contains the following data and print data frame
data=[['alice',25,'female'],['bob',30,'male'],['claire',27,'female']]
p1=pd.DataFrame(data,columns=['name','age','gender'])
print(p1)

     name  age  gender
0   alice   25  female
1     bob   30    male
2  claire   27  female

In [14]:
type(p1)

pandas.core.frame.DataFrame

In [ ]:
'''Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
#data frame is a tabular representation of data in pandas librarys datatype whereas series is an array type data format 
               Pandas Series	                                                   Pandas DataFrame
One-dimensional	                                                                   Two-dimensional
Homogenous – Series elements must be of the same data type.	                       Heterogenous – DataFrame elements can have different data types
size-immutable – Once created, the size of a Series object cannot be changed.	   Size-mutable – Elements can be dropped or added in an existing DataFrame.

The panel is a three-dimensional data structure with heterogeneous data. It is very hard to represent the Panel in a graphical representation. But a Panel can be illustrated as a container of a DataFrame. In Panel Data and size are mutable.

In [ ]:
'''Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
head()-gives data in top five rows
tails()-gives data from bottom five rows
loc[]-if you want to filter values of a column based on conditions from another set of columns from a Pandas Dataframe.For instance, we want a list of all females who are not graduates and got a loan. Boolean indexing can help here. You can use the following code:

data.loc[(data["Gender"]=="Female") & (data["Education"]=="Not Graduate") & (data["Loan_Status"=="Y"), ["Gender","Education","Loan_Status"]]

unique()-will display all unique values in the column
drop('column_name',axis=1) -will remove column and its data
p['column_name']- to add new column
assign()- to add a list as column with data
merge()-to merge 2 data frames using common column
concat()-to append rows of 2 data frames
sort()-to sort rows
replace()-to replace values in columns
dropna()-to drop Nan values
fillna()-to fill Nan values'''

In [4]:
'''Q7. Create a DataFrame using multiple Series. Explain with an example.'''
courses = pd.Series(["Spark","PySpark","Hadoop"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])
df=pd.concat([courses,fees,discount],axis=1)
print(df)

         0      1     2
0    Spark  22000  1000
1  PySpark  25000  2300
2   Hadoop  23000  1000

In [9]:

import pandas as pd
 
# Creating two lists
author = ['Jitender', 'Purnima',
          'Arpit', 'Jyoti']
article = [210, 211, 114, 178]
 
# Creating two Series by passing lists
auth_series = pd.Series(author)
article_series = pd.Series(article)
 
# Creating a dictionary by passing Series objects as values
frame = {'Author': auth_series,
         'Article': article_series}
 
# Creating DataFrame by passing Dictionary
result = pd.DataFrame(frame)
 
# Printing elements of Dataframe
print(result)

     Author  Article
0  Jitender      210
1   Purnima      211
2     Arpit      114
3     Jyoti      178