In [ ]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases. 
# database is a collection of data.Data within the most common types of databases in operation today is typically modeled in rows and columns in a series of tables to make processing and data querying efficient. The data can then be easily accessed, managed, modified, updated, controlled, and organized. Most databases use structured query language (SQL) for writing and querying data.
# RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)	Non-relational or distributed database system.
'''
                  sql                                                        nosql
RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)	                    Non-relational or distributed database system.
These databases have fixed or static or predefined schema	        They have dynamic schema
These databases are not suited for hierarchical data storage.	    These databases are best suited for hierarchical data storage.
These databases are best suited for complex queries	                These databases are not so good for complex queries
Vertically Scalable	                                                Horizontally scalable
Follows ACID property	                                            Follows CAP(consistency, availability, partition tolerance)
Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc	            Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc '''

In [ ]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
'''A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database. These database objects include views, schemas, tables, indexes, etc
Unlike data manipulation language (DML) commands that are used for data modification purposes, DDL commands are used for altering the database structure such as creating new tables or objects along with all their attributes (data type, table name, etc.).
Commonly used DDL in SQL querying are CREATE, ALTER, DROP, and TRUNCATE
Create:
This command builds a new table and has a predefined syntax
CREATE TABLE Employee (Employee_Id INTEGER PRIMARY KEY, Firstname CHAR (50) NULL, Lastname CHAR (75) NOT NULL);
In this example, the string CHAR is used to specify the data type. Other data types can be DATE, NUMBER, or INTEGER.
Alter:
An alter command modifies an existing database table. This command can add up additional column, drop existing columns and even change the data type of columns involved in a database table.
ALTER TABLE Employee ADD PRIMARY KEY (employee_pk);
In this example, we added a unique primary key to the table
Drop:
A drop command is used to delete objects such as a table, index or view. A DROP statement cannot be rolled back, so once an object is destroyed, there’s no way to recover it.
DROP TABLE Employee;
Truncate:
Similar to DROP, the TRUNCATE statement is used to quickly remove all records from a table. However, unlike DROP that completely destroys a table, TRUNCATE preserves its full structure to be reused later
TRUNCATE TABLE Employee;
In this example, we’re marking all the extents of the Employee table for deallocation, so they’re considered empty for reuse.

In [ ]:
'''Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
The SQL commands that deals with the manipulation of data present in the database belong to DML or Data Manipulation Language
INSERT : It is used to insert data into a table.
INSERT into test1.test_table values(3424,'nikhil',234,323.2,'bhanushali');

UPDATE: It is used to update existing data within a table.
UPDATE Product SET Product_Price = 80 WHERE Product_Id = 'P102' ;
DELETE : It is used to delete records from a database table.
DELETE FROM Product WHERE Product_Id = 'P202' ; '''

In [ ]:
'''Q4. What is DQL? Explain SELECT with an example.
The DQL statements can be used in order to query the data and information contained in schema objects. The goal of the DQL Commands is to return a schema relation on the basis of the query supplied to them.
SELECT Stu_Name FROM Student WHERE Phone = 9039462908;'''

In [ ]:
'''Q5. Explain Primary Key and Foreign Key.
: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence.
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table
for eg roll not of student can be primary key in table showing personal details of student because it is unique...the same column can be foreign key in table related to academic details of studemt

In [ ]:
'''Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)
Allows Python code to execute PostgreSQL command in a database session. Cursors are created by the connection.cursor() method: they are bound to the connection for the entire lifetime and all the commands are executed in the context of the database session wrapped by the connection.
execute method is used to exceute sql queries

In [ ]:
'''Q7. Give the order of execution of SQL clauses in an SQL query.
The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.'''