In [1]:
int(123)

123

In [2]:
int()

0

In [3]:
int('abcd')

ValueError: invalid literal for int() with base 10: 'abcd'

In [4]:
str("abcd")

'abcd'

In [5]:
print("hello world")

hello world

In [6]:
print(hello world)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2497053111.py, line 1)

In [7]:
age=32
print("my age is :",age)

my age is : 32

In [9]:
print("my age is:{age}")

my age is:{age}

In [11]:
# f string for formatting
print(f"my age is:{age}")

my age is:32

In [12]:
# format()

In [13]:
name="nikhil"
age=32
print("my name is {} and my age is {}".format(name,age))

my name is nikhil and my age is 32

In [14]:
# placeholder
print("my name is {firstname} and my age is {firstage}".format(firstname=name,firstage=age))

my name is nikhil and my age is 32

In [19]:
age=32
name="nikhil"
degree="BE"
print("my age is {} and i have completed my {} with name {}".format(age,degree,name))

my age is 32 and i have completed my BE with name nikhil

In [20]:
print(f"my age is {age} and i have completed my {degree} with name {name}")

my age is 32 and i have completed my BE with name nikhil

# control flow
## decision making statements

In [21]:
# if statements

In [26]:
age=18
if (age>=18):
    print("you are eligible to vote")

you are eligible to vote

In [27]:
if age>=18:
    print("you are eligible to vote")

you are eligible to vote

In [29]:
# since age is greater than 18 it will not go into if block therefore no output
if age<18:
    print("you are eligible to vote")

In [31]:
# input function for accepting input from user
name=input("enter the name")

enter the name nikhil

In [32]:
print(name)

nikhil

In [33]:
age=input("enter your age")

enter your age 18

In [34]:
print(age)

18

In [36]:
type(age)

int

In [37]:
# typecasting
age=int(input("enter your age"))

enter your age 18

In [38]:
print(age)

18

In [43]:
age=input("enter the age")
if (age>=18 and age<=45):
    print("you are eligible to vote")

enter the age 25

TypeError: '>=' not supported between instances of 'str' and 'int'

In [44]:
#  using typecasting
age=int(input("enter the age"))
if (age>=18 and age<=45):
    print("you are eligible to vote")

enter the age 25

you are eligible to vote

In [5]:
# if else loopage=int(input("enter the age"))
age=int(input("enter the age"))
if (age>=18 and age<=45):
    print("you are eligible to vote")
else:
    print("you are not eligible")

enter the age 55

you are not eligible

In [11]:
# assignment
product_price=int(input("enter the product price"))
if product_price>=1000:
    print("you get discount of 20% and so final price of product is",product_price*80/100)
else:
        print("you get discount of 30% and so the final price is",product_price*70/100)

enter the product price 900

you get discount of 30% and so the final price is 630.0

In [12]:

product_price=int(input("enter the product price"))
if product_price>=1000:
    print(f"you get discount of 20% and so final price of product is {product_price*80/100}")
else:
        print(f"you get discount of 30% and so the final price is {product_price*70/100}")

enter the product price 750

you get discount of 30% and so the final price is525.0

In [13]:
product_price=int(input("enter the product price"))
if product_price>=1000:
    print("you get discount of 20% and so final price of product is {}".format(product_price*80/100))
else:
        print("you get discount of 30% and so the final price is {}".format(product_price*70/100))

enter the product price 850

you get discount of 30% and so the final price is 595.0

In [26]:
product_price=int(input("enter the product price"))
if product_price>3000:
    print("you get discount of 20% and so final price of product is",product_price*80/100)
elif (product_price>=2000 and product_price<=3000):
    if(product_price==2999): #nested if
        print("you will get special gift")
        print("you get discount of 30% and so the final price is",product_price*70/100)
elif (product_price>=1000 and product_price<2000):
    print("you get discount of 40% and so the final price is",product_price*60/100)
else:
    print("you get discount of 50% and so the final price is",product_price*50/100)

enter the product price 2999

you will get special gift
you get discount of 30% and so the final price is 2099.3

# loops
1. while loop
2. for loop
3. nested loop
4. loop controls(break,continue,pass)

# while statement

In [ ]:
# while statement
joining_age=int(input("enter joining age"))
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print("its time to retire")

In [40]:
# atm machine with 1000rs
amount=int(input("enter total balance"))
while amount!=0:
    print(amount)
    amount=amount-100
else:
    print("put more money")

enter total balance 1000

1000
900
800
700
600
500
400
300
200
100
put more money

# for loop

In [43]:
# list(data structure)
lst=["nikhil",1,2,3,4,5,"apple","mango"]
type(lst)

list

In [44]:
lst[0]

'nikhil'

In [45]:
lst[7]

'mango'

In [52]:
# for loop is used for iteration within list
for x in lst:             # x is temporary variable
    print(x)

nikhil
1
2
3
4
5
apple
mango

In [51]:
fruits_list=["apple","mango","banana","cherry"]
for a in fruits_list:
    print(a)
    if a=="banana":
        print("the fruit is banana")

apple
mango
banana
the fruit is banana
cherry

In [7]:
fruit="mango"
for a in fruit:
    print(a)

m
a
n
g
o

In [3]:
fruit[3]

'g'

In [5]:
print(a,end='')

o

In [8]:
fruit="mango"
for a in fruit:
    print(a,end='') # to print mango in same line

mango

In [16]:
# range function
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [17]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

# nested loop

In [41]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print(j,end="")
    print("\r")

0
01
012
0123
01234
012345
0123456

In [37]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [42]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\n")

*

**

***

****

*****

******

*******

# loop controls
## break and continue

In [43]:
fruit_list=["apple","mango","banana","cherry","papaya"]
for i in fruit_list:
    print(i)

apple
mango
banana
cherry
papaya

In [59]:
fruit_list=["apple","mango","banana","cherry","papaya"]
for i in fruit_list:
    if i=="banana":
        print("the fruit is banana")
    print(i)

apple
mango
the fruit is banana
banana
cherry
papaya

In [61]:
fruit_list=["apple","mango","banana","cherry","papaya"]
for i in fruit_list:
    if i=="banana":
        print("the fruit is banana")
        break                               # break statement
    print(i)

apple
mango
the fruit is banana

In [65]:
fruit_list=["apple","mango","banana","cherry","papaya"]
for i in fruit_list:
    print(i)
    if i=="banana":
        print("the fruit is banana")
        break                               # break statement

apple
mango
banana
the fruit is banana

In [62]:
fruit_list=["apple","mango","banana","cherry","papaya"]
for i in fruit_list:
    if i=="banana":
        print("the fruit is banana")
        pass                              # pass statement
    print(i)

apple
mango
the fruit is banana
banana
cherry
papaya

In [63]:
fruit_list=["apple","mango","banana","cherry","papaya"]
for i in fruit_list:
    if i=="banana":
        print("the fruit is banana")
        continue                             # continue statement
    print(i)

apple
mango
the fruit is banana
cherry
papaya