# functions

In [6]:
def test(): # creating function named test def keyword is used to initialise function

SyntaxError: incomplete input (385080566.py, line 3)

In [7]:
def test():
    pass # to create empty function

In [8]:
def test():
    print('this is my first function')

In [9]:
test()

this is my first function

In [11]:
test()+'nikhil' #print() is a nonetype statement which means it doesnt return any particular datatype
# hence no primitive operations can be performed with print()

this is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [31]:
def test2():
    return'this is my first function '

In [33]:
test2()

'this is my first function '

In [32]:
test2()+'nikhil'

'this is my first function nikhil'

In [34]:
def test3():
    return 1,2,'nikhil',54.46

In [36]:
test3() #return always in form of tuples

(1, 2, 'nikhil', 54.46)

In [37]:
a=1,2,3,4,5

In [38]:
a

(1, 2, 3, 4, 5)

In [39]:
a,b,c,d=1,2,3.4,True

In [40]:
a

1

In [41]:
b

2

In [42]:
c

3.4

In [44]:
d

True

In [45]:
test3() #return always in form of tuples

(1, 2, 'nikhil', 54.46)

In [46]:
test3()[2]

'nikhil'

In [48]:
a,b,c,d=test3()

In [49]:
c

'nikhil'

In [50]:
a

1

In [51]:
b

2

In [52]:
d

54.46

In [1]:
def test4():
    a=3*4+5
    return a

In [2]:
test4()

17

In [3]:
type(test4())

int

In [4]:
def test5(a,b):
    c=a*b
    return c

In [6]:
test5(3,4)

12

In [7]:
def test5(a,b):
    c=a+b
    return c

In [8]:
test5('niikhil','bhanushali')

'niikhilbhanushali'

In [11]:
test5([1,2,3,4],[4,5,6,7])

[1, 2, 3, 4, 4, 5, 6, 7]

In [12]:
test5(b='bhanushali',a='nikhil')

'nikhilbhanushali'

In [34]:
#create function which will take lits as input and return list with only numerical values
l=[1,2,3,4,5,'nikhil',[3,4,5,67]]
def test6(a):
    l2=[i for i in a if type(i)==int or type(i)==float]
    return l2

In [35]:
test6(l)

[1, 2, 3, 4, 5]

In [36]:
test6([4,5,3,2.3,'abc'])

[4, 5, 3, 2.3]

In [41]:
l=[1,2,3,4,5,'nikhil',[3,4,5,67]]
def test6(a):
    n=[]
    for i in a:
        if type(i)==int or type(i)==float:
            n.append(i) #adding value to list n one by one if it meets the condition
    return n

In [42]:
test6(l)

[1, 2, 3, 4, 5]

In [66]:
# to extract integers from nested list
def test6(a):
    n=[]
    for i in a:
        if type(i)==list:
            for j in i:
                if type(j)==int or type(j)==float:
                    n.append(j) 
    return n

In [67]:
test6(l)

[3, 4, 5, 67]

In [75]:
def test6(a):
    n=[]
    for i in a:
        if type(i)==list:
            for j in i:
                if type(j)==int or type(j)==float:
                    n.append(j)
        else:
            if type(i)==int or type(i)==float:
                n.append(i)
        
    return n

In [76]:
test6(l)

[1, 2, 3, 4, 5, 3, 4, 5, 67]

In [1]:
def test7(a,b,c,d):
    pass

In [2]:
test7(1,2,3,4,5) # error because argument given is more

TypeError: test7() takes 4 positional arguments but 5 were given

In [7]:
def test8(*args): # *allows for n number of arguments to be passed 
    return args

In [5]:
test8(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [6]:
test8('nikhil',[1,2,3,4,5],(1,2,3,4))

('nikhil', [1, 2, 3, 4, 5])

In [8]:
def test8(*args,b):
    return args,b

In [9]:
test8(1)

TypeError: test8() missing 1 required keyword-only argument: 'b'

In [12]:
test8(1,2,3,4,b='nikhil') #will store indefinite data as tuples

((1, 2, 3, 4), 'nikhil')

In [13]:
def test(*args):
    l=[]
    for i in args:
        if type(i)==list:
            l.append(i)
    return l

In [15]:
test(1,2,3,4,[1,2,3,4],'nikhil')

[[1, 2, 3, 4]]

In [16]:
def test5(**kwargs): # ** for passing argument in form of dictionary ie key value pair
    return kwargs

In [19]:
test5()

{}

In [25]:
test5(name='nikhil',age=31,c=[1,2,3,4],d=('pw','skills')) # argument passed in key value pair

{'name': 'nikhil', 'age': 31, 'c': [1, 2, 3, 4], 'd': ('pw', 'skills')}

In [32]:
# extract keys
def test5(**kwargs):
    for i in kwargs.keys():
        if type(kwargs[i])==list:
            return i,kwargs[i]

In [33]:
test5(name='nikhil',age=31,c=[1,2,3,4],d=('pw','skills'))

('c', [1, 2, 3, 4])

In [1]:
def test6(*args,**kwargs):
    return args,kwargs

In [2]:
test6(1,2,3,4,a=25,b=45) #will accept both indefinite data in form of tuple and keyvalue data as dict

((1, 2, 3, 4), {'a': 25, 'b': 45})

# generator functions

In [4]:
range(1,10)

range(1, 10)

In [9]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [10]:
# range is a generator type of function which is created through yield
# generator functions are used to prevent unnecessary memory consumption
def test(*args):
    l=[]
    for i in args:
        if type(i)==list:
            l.append(i)
    return l

In [11]:
test(1,2,3,'nikhil',[1,2,3,4]) # here these function will store whole data in memory and process each and 
#every element to return list from given arguments unlike range function which doesnt consume memory

[[1, 2, 3, 4]]

In [15]:
# creating fibonacci generator function
# fibonacci=0,1,1,2,3,5,8,13
def test_fibonacci(n):
    a,b=0,1
    for i in range(n):
        yield a
        a,b=b,a+b

In [17]:
test_fibonacci(10)

In [19]:
for i in test_fibonacci(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [1]:
# A generator function that yields 1 for first time,
# 2 second time and 3 third time
def generatorfun():
    yield 1           
    yield 2           
    yield 3

In [3]:
generatorfun()

In [2]:
for i in generatorfun():
    print(i)

1
2
3

In [4]:
# using generator fun through generator object to print 1,2,3
def generatorfun():
    yield 1           
    yield 2           
    yield 3

In [5]:
x=generatorfun() # stores generator object in x

In [6]:
# Iterating over the generator object using next function
print(next(x))
print(next(x))
print(next(x))

1
2
3